<form>
    <p>
    <mat-form-field >
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="dame nombre"
         name="nombre" [(ngModel)]="persona.nombre" >
      </mat-form-field>

    </p>
    <p>
      <mat-form-field >
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="dame el apellido" 
         name="apellidos" [(ngModel)]="persona.apellidos">
      </mat-form-field>
    </p>

    <p>
        <mat-form-field >
          <mat-label>Edad</mat-label>
          <input type="number" matInput placeholder="dame la edad" name="edadTxt" [(ngModel)]="persona.edad" min=0 max="100" >
        </mat-form-field>
      </p>

      <p>
        <mat-form-field >
          <mat-label>FechaNacimiento</mat-label>
          <input type="date" matInput placeholder="dame la feccha" name="fechaTxt" [(ngModel)]="persona.fechaNacimiento"  >
        </mat-form-field>
      </p>
      <p>{{persona.nombre}}{{persona.apellidos}}{{persona.edad}}</p>
</form>
