<form>
    <p>
    <mat-form-field >
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="dame nombre" >
      </mat-form-field>

    </p>
    <p>
      <mat-form-field >
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="dame el apellido" >
      </mat-form-field>
    </p>

    <p>
        <mat-form-field >
          <mat-label>Edad</mat-label>
          <input type="number" matInput placeholder="dame la edad" min=0 max="100" >
        </mat-form-field>
      </p>
</form>
