<button mat-button (click)="alerta()">Basico</button>
<button mat-button color="primary" (click)="alerta()">Primario</button>
<button mat-button color="accent" (click)="alerta()">Destacado</button>
<button mat-button color="warn" (click)="alerta()">Aviso</button>

<button mat-raised-button>Basico</button>
<button mat-raised-button color="primary">Primario</button>
<button mat-raised-button color="accent">Destacado</button>
<button mat-raised-button color="warn">Aviso</button>
<button mat-raised-button disabled>Deshabilitado</button>

<button mat-icon-button matTooltip="Basic" aria-label="boton con icono de favorito">
    <mat-icon>home</mat-icon>
  </button>