<form>
    <p>
        <mat-form-field>
            <mat-label>Nombre:</mat-label>
            <input matInput placeholder="introduce el nombre" name="nombre" [(ngModel)]="personaEditar.nombre">
        </mat-form-field>

    </p>
    <p>
        <mat-form-field>
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="introduce los apellidos" name="apellidos"
                [(ngModel)]="personaEditar.apellidos">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <mat-label>Edad</mat-label>
            <input matInput placeholder="introduce la edad" name="edad" [(ngModel)]="personaEditar.edad">

        </mat-form-field>
    </p>

    <p>
        <button mat-raised-button color="primary" (click)="salvar(personaEditar)">Salvar</button>
    </p>
</form>

